registry=http://npm.nexus.zhihuiya.com/repository/npm-group/
always-auth=true
email=npm@patsnap.com
sass_binary_site=http://npm.nexus.zhihuiya.com/repository/node-sass-proxy/
phantomjs_cdnurl=http://npm.nexus.zhihuiya.com/repository/phantomjs-proxy/
chromedriver_cdnurl=http://npm.nexus.zhihuiya.com/repository/chromedriver-proxy/
//npm.nexus.zhihuiya.com/repository/npm-group/:_auth="bnBtOm5wbS5wYXRzbmFwLmNvbQ=="
